div#note-header.clearfix
	div.wrapper
		div#note-left
			h3#note-title {{note.title}}
			p#note-date Created 1 day ago
		div#note-link-box
			a#link learnspice.com/{{note.shortlink}}
				a#share-button


div#body-container.wrapper.clearfix
	div#left-column
		div#video-container
		div#slides-container
	div#right-column
		section.clearfix(data-ng-repeat='section in sections')
			div.section-header
				textarea.header-field {{section.header}}
			ul.line-container
				li.line(data-ng-repeat='line in lines')
					textarea.line-field {{line.content}}
				li.line
					textarea.line-field.add(data-ng-model='newContent')
					button.btn(data-ng-click='addLine({{$scope.section.sectionid}})') Add
		section.clearfix
			div.section-header
				textarea.header-field.add(data-ng-model='newHeader')
				button.btn(data-ng-click='addSection()') Add

