div#note-header.clearfix
	div.wrapper
		div#note-left
			h3#note-title {{note.title}}
			p#note-date Created 1 day ago
		div#note-link-box
			a#link learnspice.com/{{note.shortlink}}
				a#share-button


div#body-container.wrapper.clearfix
	div#left-column
		div#video-container
		div#slides-container
		        div.section-header Slides
                !!! 5
                html#home(lang='en')
                head
                    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
                    meta(charset='utf-8')
                    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
                    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
                    //
                    for HTML5 el styling 
                    script
                        document.createElement('article');
                        document.createElement('footer');
                  body
                    article
                        a(href='https://webrtc-experiment.appspot.com/', style='border-bottom: 1px solid #2844FA; font-size: 1.2em; position: absolute; text-decoration: none; right: 0; top: 0;') ↑ WEBRTC EXPERIMENTS
                        #participants
                        table#rooms-list.visible
                        script(src='https://webrtc-experiment.appspot.com/firebase.js')
                        script(src='https://webrtc-experiment.appspot.com/RTCPeerConnection-v1.5.js')
                        script(src='https://webrtc-experiment.appspot.com/Pluginfree-Screen-Sharing/conference.js')
                        script(src='https://webrtc-experiment.appspot.com/Pluginfree-Screen-Sharing/conference-ui.js')
                        br
                        script(src='https://webrtc-experiment.appspot.com/common.js')
       

	div#right-column
		section.clearfix
			div.section-header
				textarea.header-field Lorem ipsum dolor sit amet
			ul.line-container
				li.line
					textarea.line-field thing sdsdf sdfsdfs sdf sdf sd sd sdf sdfsdfsdfsd
				li.line 
					textarea.line-field Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor.
				li.line 
					textarea.line-field Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
				li.line 
					textarea.line-field Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.
				li.line
					textarea.line-field.add Add...
		section.clearfix
			div.section-header
				textarea.header-field Mauris iaculis porttitor posuere
			ul.line-container
				li.line 
					textarea.line-field Praesent id metus massat
				li.line 
					textarea.line-field Vivamus hendrerit arcu sed erat molestie vehicula.
				li.line 
					textarea.line-field Phasellus molestie
				li.line 
					textarea.line-field Suspendisse dictum
				li.line 
					textarea.line-field.add Add...
			ul.line-container
		section.clearfix
			div.section-header
				textarea.header-field.add Add...
			ul.line-container

	script(src='js/note.js')
    script(src='js/conference.js'
    script(src='js/conference_ui.js'


