div#note-header.clearfix
	div.wrapper
		div#note-left
			h3#note-title {{note.title}}
			p#note-date Created 1 day ago
		div#note-link-box
			a#link learnspice.com/{{note.shortlink}}
				a#share-button

	div#body-container.wrapper.clearfix
		div#left-column
			div#video-container
			div#slides-container
		div#right-column
			section.clearfix
				div.section-header
					textarea.header-field Lorem ipsum dolor sit amet
				ul.line-container
					li.line
						textarea thing sdsdf sdfsdfs sdf sdf sd sd sdf sdfsdfsdfsd
					li.line 
						textarea Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor.
					li.line 
						textarea Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
					li.line 
						textarea Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.
					li.line.add
						textarea Add...
			section.clearfix
				div.section-header
					textarea.header-field Mauris iaculis porttitor posuere
				ul.line-container
					li.line 
						textarea Praesent id metus massat
					li.line 
						textarea Vivamus hendrerit arcu sed erat molestie vehicula.
					li.line 
						textarea Phasellus molestie
					li.line 
						textarea Suspendisse dictum
					li.line.add 
						textarea Add...
				ul.line-container
			section.clearfix
				div.section-header.add
					textarea.header-field Add...
				ul.line-container

	script(src='js/note.js')
