div#note-header
	div.wrapper
		div#note-left
			h3#note-title {{note.title}}
			p#note-date Created 1 day ago
		div#note-link-box
			a#link learnspice.com/{{note.shortlink}}
				a#share-button

div#body-container.wrapper
	div#left-coluimn
		div#video-container
		div#slides-container
	div#right-column
		section
			div.section-header Lorem ipsum dolor sit amet
			ul.line-container
				li.line Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor.
				li.line Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
				li.line Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.
				li.line.add
		section
			div.section-header Mauris iaculis porttitor posuere
			ul.line-container
				li.line Praesent id metus massat
				li.line Vivamus hendrerit arcu sed erat molestie vehicula.
				li.line Phasellus molestie
				li.line Suspendisse dictum
				li.line.add
			ul.line-container
		section
			div.section-header.add
			ul.line-container
				li.line.add