div#note-header.clearfix
	div.wrapper
		div#note-left
			h3#note-title {{note.title}}
			p#note-date Created 1 day ago
		div#note-link-box
			a#link learnspice.com/{{note.shortlink}}
				a#share-button


div#body-container.wrapper.clearfix
	div#left-column
		div#video-container
		div#slides-container
	div#right-column
		section.clearfix
			div.section-header
				textarea.header-field Lorem ipsum dolor sit amet
			ul.line-container
				li.line
					textarea.line-field(onkeypress="updateFieldSizes()") thing sdsdf sdfsdfs sdf sdf sd sd sdf sdfsdfsdfsd
				li.line 
					textarea.line-field(onkeypress="updateFieldSizes()") Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor.
				li.line 
					textarea.line-field(onkeypress="updateFieldSizes()") Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.
				li.line 
					textarea.line-field(onkeypress="updateFieldSizes()") Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum.
				li.line
					textarea.line-field.add(onkeypress="updateFieldSizes()") Add...
		section.clearfix
			div.section-header
				textarea.header-field Mauris iaculis porttitor posuere
			ul.line-container
				li.line 
					textarea.line-field Praesent id metus massat
				li.line 
					textarea.line-field Vivamus hendrerit arcu sed erat molestie vehicula.
				li.line 
					textarea.line-field Phasellus molestie
				li.line 
					textarea.line-field Suspendisse dictum
				li.line 
					textarea.line-field.add Add...
			ul.line-container
		section.clearfix
			div.section-header
				textarea.header-field.add Add...
			ul.line-container

