
/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


html {
  background-color: #d6d6d6;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #d6d6d6;
}

body.front_page {
  background: url('../img/html.png');
}

/* Header */
header {
  height: 60px;
  background-color: #006ba1;
  border-bottom: 1px solid #004364;
  clear: both;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#logo {
  height: 40px;
  margin-top: 10px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

h1 {
  float: left;
  font-weight: 700;
  color: white;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0;
  margin: 0;
}

h2 {
  float: right;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  padding: 15px 0;
  margin: 0;
  color: #7ca5c3;
}

h2 span {
  background-color: #3389b4;
  color: white;
  padding: 4px 8px;
}
