/* Note header styles*/

#note-header {
	background-color: #f5f5f5;
	height: 80px;
	position: fixed;
	clear: both;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	top: 61px;
	width: 100%;
	z-index: 9;
}

h3 {
	margin: 0;
	font-size: 22px;
	font-weight: 700;
	color: #555;
	line-height: 34px;
}

#note-left {
	float: left;
	height: 74px;
	padding: 10px 0 0 60px;
	background-image: url('/img/note-icon.png');
	background-size: 40px 47px;
	background-repeat: no-repeat;
	background-position: 0 14px;
}

#note-left p {
	color: #777;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

#note-link-box {
	float: right;
	height: 40px;
	padding: 30px 0;
}

#note-link-box #link {
	background: #e0e0e0;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 12px;
}

#note-link-box #share-button {
	background-color: #3389b4;
	background-image: url('/img/share-icon.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px 7px;
	width: 40px;
	height: 40px;
	padding: 8px 18px 8px;
}

/* General */

#body-container {
	clear: both;
	margin-top: 160px;
}

/* Left col styles */

#left-column {
	position: fixed;
	width: 372px;
}

#video-container, #slides-container {
	width: 372px;
	height: 240px;
	background: #bbb;
	margin: 0;
	padding: 0;
	border: 1px solid rbga(0,0,0,0.5);
}

#slides-container {
	margin-top: 20px;
}

/* Right col styles */

#right-column {
	width: 568px; /* (960 * 3/5) - 10 - 2 */
	position: relative;
	left: 394px;
}


/* Section styles */

section {
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.3);
}

section + section {
	margin-top: 20px;
}

.section-header {
	float: left;
	width: 191px;
	text-align: right;
}

textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	resize: none;
	outline: none;
	display: block;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 100ms linear;
    -moz-transition:    all 100ms linear;
    -o-transition:      all 100ms linear;
    -ms-transition:     all 100ms linear;
    transition:         all 100ms linear;
}

textarea:focus {
	outline: none;
	border: none;
}

.section-header .header-field {
	padding: 20px 20px 20px 18px;
	border-left: 2px solid #f5f5f5;
	background: #f5f5f5;
	width: 151px;
	font-weight: 600;
	text-align: right;
	border-left: 2px solid #f5f5f5;
	padding: 20px 22px 20px 18px;
}

.section-header .header-field:focus {
	border-left: 2px solid #0088cc;
	padding-right: 18px;
	padding-left: 20px;
}

.line-container {
	float: left;
	width: 375px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.line-container li .line-field {
	border-left: 2px solid #fff;
	width: 335px;
	margin:0; padding:0; border:none; display:block;
	padding: 20px 22px 20px 18px;
	resize: none;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.line-container li .line-field:focus, .line-container li .line-field.add {
	padding-right: 20px;
	padding-left: 18px;
	border-left: 2px solid #0088cc;
	background: #f5f5f5;
}

.line-field.add:focus {
	padding-right: 18px !important;
	padding-left: 20px !important;
}

.section-header .header-field.add {
	background-color: #ededed;
}

.add textarea {
	color: #0088cc;
}

.line-container li + li {
	border-top: 1px solid #f5f5f5;
}
