!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/note.css')
    link(rel='stylesheet', href='/css/helper.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
  body
    block body